<div class="hotels index">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Hotels</h1>
      <p class="lead text-muted">Best hotels curated for you.</p>
      <p>
        <%= link_to("Back to Home Page", root_path, class: "btn btn-primary my-2") %>
      </p>
    </div>
  </section>

  <%= render(partial: "ListHotels") %>

</div>