<%= link_to("<< Back to index list", {action: "index"}, class: "back_to_link") %>
<div class = "cities show">
  <h2>Show city details</h2>
  <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">City Name</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><%=  @city.name %></td>
      <td><%= @city.created_at %></td>
    </tr>
  </tbody>
</table>
</div>
